<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.doubleh.lumidiet">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowFullscreen="true"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowFullscreen="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".JoinActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowFullscreen="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
            android:name=".AddInfoActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowFullscreen="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowFullscreen="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GuideActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FindPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ble.DeviceConnectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ble.NotificationActivity"/>

        <service
            android:name=".ble.DfuService"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.doubleh.lumidiet.ble.action.DFU_UPLOAD"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service
            android:name=".ble.BluetoothLeService"
            android:enabled="true"/>
        <service
            android:name=".service.NotificationService"
            android:enabled="true"
            android:exported="true"/>
        <service android:name=".service.LumiFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.LumiFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".pedometer.SensorListenerService"/>

        <receiver android:name=".pedometer.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".pedometer.AppUpdatedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9e155fe10608d659aa052374dae06e600f0c8fed" />
    </application>

</manifest>
